.wrapper {
    position:static;
    bottom: 0;

    background-color: var(--light-grey);

    height: 140px;
    width: 100%;
    z-index: 20px;
    
    overflow: hidden;
}

.subContainer {
    display: inline-block;

    height: 100%;
    width: calc(50% - 20px);

    margin: 10px;
    padding-right: 30px;
}

.subContainer > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subContainer > input {
    border: 1px solid var(--background-blue);
}

.subContainer > button {
    background-color: var(--background-blue);
    color: white;
    border: 1px solid var(--background-blue);
}

.container {
    display: inline-block;

    height: 100%;
    width: calc(25% - 20px);

    margin: 10px;
}

.link {
    color: black;

    margin-top: 10px;
    
    cursor: pointer;
}

.whyIsTheMarginTop10NotWorkingFora {
    margin-bottom: 10px;
}

@media screen and (max-width: 685px) {
    .subContainer {
        padding-right: 0px;
    }

    .subContainer > input {
        width: 110px;
    }
    
    .subContainer > button {
        width: 70px;
    }
}

@media screen and (max-width: 400px) {
    .subContainer > input {
        width: 105px;
    }
    
    .subContainer > button {
        width: 65px;
        font-size: 0.8rem;
    }
}


