* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overflow-x: hidden;
}

:root {
    --background-blue: rgb(4, 20, 49);
    --light-grey: rgb(211, 211, 211);
}

.fakeNav {
    height: 100px;
}

.nav {
    position: fixed;
    background-color: black;
    color: white;
    height: 100px;
    width: 100vw;
    overflow: hidden;
    z-index: 100;
    padding-right: 10px;
}

.logo {
    background-color: black;
    display: inline-flex;
    font-size: 4rem;
    font-style: italic;
    height: 100%;
    width: 40%;
    position: relative;
    top: 10px;
    left: 10px;
}

.buttons {
    background-color: black;
    display: inline-block;
    text-align: right;
    width: 60%;
    position: relative;
    top: 10px;
}

.navButton {
    color: white;
    background-color: inherit;
    font-weight: 100;
    font-size: 2rem;
    padding-right: 30px;
    padding-left: 30px;
    height: 100%;
}

.cartQuantity {
    position: absolute;
    right: 15px;
    top: 50px;
    width: 25px;
    aspect-ratio: 1;
    color: white
}

.borderLeft {
    border: none;
    border-left: 1px solid white;
}

.borderRight {
    border: none;
    border-right: 1px solid white;
}

.borderMiddle {
    border: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

@media screen and (max-width: 685px) { 
    .nav {
        height: 60px;
    }

    .fakeNav {
        height: 60px;
    }

    .logo {
        font-size: 2.5rem;
    }

    .navButton {
        font-size: 1.2rem;
        padding-right: 10px;
        padding-left: 10px;
    }

    .cartQuantity {
        font-size: 0.7rem;
        right: -5px;
        top: 35px;
    }
}

.featuredWrapper {
    background-color: var(--background-blue);
    color: white;
    padding-bottom: 10px;
}

.featuredWrapper > h2 {
    font-weight: 100;
    width: 90%;
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 3rem;
}

.feature {
    display: inline-flex;
}

.games {
    width: 100vw;
    text-align: center;
    transition: 1s;
}

img {
    width: 75%;
    max-width: 1500px;
    max-height: 75%;
    object-fit: contain;
}

.gameInfo {
    width: 75%;
}

.gameInfo > p {
    font-size: 1.5rem;
    text-align: left;
}

.gameWrapper {
    width: fit-content;
}

.navFeatured {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 5rem;
    opacity: 0.5;
    position: relative;
    width: 50px;
}

.right {
  left: calc(-400vw - 125px); 
}

.left {
    left: -500vw;
}

.about {
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
}

.about > h2 {
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 100;
}

.about > p {
    font-size: 1.2rem;
}

.cards {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.allGames {
    font-weight: 100;
    width: 90%;
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 3rem;
}

.cardWrapper {
    width: 300px;
    height: 315px;
    margin-top: 40px;
    padding: 5px;
    padding-top: 20px;
    background-color: var(--light-grey);
    text-align: center;
}

.card > img {
    width: 230px;
    height: 240px;
    object-fit: cover;
    object-position: top;
}

.infoWrapper {
    width: 230px;
    text-align: right;
}

.infoWrapper > p {
    text-align: left;
}

.infoWrapper > div > p {
    display: inline-block;
    text-align: left;
    width: calc(100% - 90px);
}

.infoWrapper > div > div {
    display: inline-block;
    width: 90px;
}

@media screen and (max-width: 735px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}




.bigCart {
    width: 95%;
    max-width: 1000px;
}

.item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
    width: 100%;
    background-color: var(--light-grey);
}

.item > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.itemName {
    width: 100%;
    float: left;
}

.quantity {
    display: inline-flex;
    width: fit-content;
}

.quantity > p {
    margin-left: 5px;
    margin-right: 5px;
}

.quantity > button {
    border-radius: 100px;
    border: none;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    overflow: visible;
}

.quantity > button > div {
    position: relative;
    right: 1px;
    overflow: visible;
}

button {
    cursor: pointer;
}

.checkOut {
    background-color: var(--light-grey);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

