* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    overflow-x: hidden;
}

:root {
    --background-blue: rgb(4, 20, 49);
}
.nav {
    background-color: black;
    color: white;
    height: 55px;
}

.logo {
    background-color: black;
    display: inline-flex;
    font-size: 2.5rem;
    font-style: italic;
    height: 100%;
    width: 40%;
    padding-left: 10px;
}

.buttons {
    background-color: black;
    display: inline-block;
    text-align: right;
    width: 60%;
}

.navButton {
    color: white;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
}

.borderLeft {
    border: none;
    border-left: 1px solid white;
}

.borderRight {
    border: none;
    border-right: 1px solid white;
}

.borderMiddle {
    border: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.feature {
    display: inline-flex;
    background-color: var(--background-blue);
}

.games {
    width: 100vw;
    text-align: center;
    transition: 1s;
}

img {
    width: 75%;
    max-width: 1500px;
    max-height: 75%;
    object-fit: contain;
}

.gameInfo {
    width: 75%;
}

.gameInfo > p {
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.gameWrapper {
    width: fit-content;
}

.navFeatured {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 5rem;
    opacity: 0.5;
    position: relative;
    width: 50px;
}

.right {
  left: calc(-400vw - 110px); 
}

.left {
    left: -500vw;
}
